{"swagger":"2.0","info":{"description":"Badger Finance Serverless API","version":"v1.0","title":"Badger API"},"host":"api.sett.vision","basePath":"/","schemes":["https"],"paths":{"/chart/sett/{settName}":{"get":{"tags":["Chart"],"summary":"Chart data for historic sett assets under management","description":"Return an array of data point objects with coordinate values corresponding to sett asset USD valuation","parameters":[{"name":"settName","in":"path","description":"Sett name","required":true,"type":"string"},{"name":"count","in":"query","description":"Number of data points to limit response","required":false,"type":"string"}],"responses":{"200":{"description":"200 response"},"500":{"description":"500 response"}}}},"/chart/sett/{settName}/performance":{"get":{"tags":["Chart"],"summary":"Chart data for historic sett performance","description":"Return an array of data point objects with coordinate values corresponding to sett ratio","parameters":[{"name":"settName","in":"path","description":"Sett name","required":true,"type":"string"}],"responses":{"200":{"description":"200 response"},"500":{"description":"500 response"}}}},"/protocol/earnings/{userId}":{"get":{"tags":["Protocol"],"summary":"Get earnings for a given ethereum address","description":"Get the token based earnings for all setts and their current USD valuation","parameters":[{"name":"userId","in":"path","description":"Ethereum address","required":true,"type":"string"}],"responses":{"200":{"description":"200 response"},"500":{"description":"500 response"}}}},"/protocol/farm":{"get":{"tags":["Protocol"],"summary":"Get active Geyser farms","description":"Get the current active Geyser emission allocation","responses":{"200":{"description":"200 response"},"500":{"description":"500 response"}}}},"/protocol/sett/{settName}/performance":{"get":{"tags":["Protocol"],"summary":"Estimated ROI per sett","description":"Return multiple ROI values for sampled periods","parameters":[{"name":"settName","in":"path","description":"Sett name","required":true,"type":"string"}],"responses":{"200":{"description":"200 response"},"500":{"description":"500 response"}}}},"/protocol/value":{"get":{"tags":["Protocol"],"summary":"Retrieve value locked in all setts and protocol","description":"Sett values are pulled from indexed chain data with the total value included as the sum of all setts","parameters":[{"name":"tokens","in":"query","description":"Optionally include token balances","required":false,"type":"string"}],"responses":{"200":{"description":"200 response"},"500":{"description":"500 response"}}}}}}
